<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button matButton class="btn-rojo" [matMenuTriggerFor]="menuFromZero">
      <mat-icon>menu</mat-icon>
    </button>
    <span>From Zero</span>
  </mat-toolbar>
  <mat-menu #menuFromZero="matMenu">
    <button mat-menu-item routerLink="/usuarios/listar">
      <mat-icon>person</mat-icon>
      <span>Usuarios</span>
    </button>
    <button mat-menu-item routerLink="/roles/listar">
      <mat-icon>list</mat-icon>
      <span>Roles</span>
    </button>
    <button mat-menu-item routerLink="/codigosgenerados/listar">
      <mat-icon>list</mat-icon>
      <span>Código Generado</span>
    </button>
    <button mat-menu-item routerLink="/desarrolladores/listar">
      <mat-icon>list</mat-icon>
      <span>Desarrolladores</span>
    </button>
    <button mat-menu-item routerLink="/mensajes/listar">
      <mat-icon>list</mat-icon>
      <span>Mensajes</span>
    </button>
    <button mat-menu-item routerLink="/notificaciones/listar">
      <mat-icon>list</mat-icon>
      <span>Notificaciones</span>
    </button>
    <button mat-menu-item routerLink="/proyectodesarrolladores/listar">
      <mat-icon>list</mat-icon>
      <span>Proyecto - Desarrolladores</span>
    </button>
    <button mat-menu-item routerLink="/revisiones/listar">
      <mat-icon>list</mat-icon>
      <span>Revisiones</span>
    </button>
    <button mat-menu-item routerLink="/tareas/listar">
      <mat-icon>list</mat-icon>
      <span>Tareas</span>
    </button>
    <button mat-menu-item routerLink="/tipsia/listar">
      <mat-icon>list</mat-icon>
      <span>Tips IA</span>
    </button>
    <button mat-menu-item routerLink="/valoraciones/listar">
      <mat-icon>list</mat-icon>
      <span>Valoraciones</span>
    </button>
    <button mat-menu-item routerLink="/proyectos/listar">
      <mat-icon>folder</mat-icon>
      <span>Proyectos</span>
    </button>
    <button mat-menu-item routerLink="/empresas/listar">
      <mat-icon>business</mat-icon>
      <span>Empresas</span>
    </button>
  </mat-menu>
</div>
