<div class="container">
  <div>
    <h2>Registrar Revisión</h2>
  </div>
  <div>
    <form [formGroup]="revisionesForm" (submit)="insertar()">
      <mat-form-field appearance="fill">
        <mat-label>Id Tarea</mat-label>
        <input matInput formControlName="idTarea" type="number" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Comentario</mat-label>
        <input matInput formControlName="comentar" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="fecha" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Registrar</button>
    </form>
  </div>
</div>