<div class="container">
  <h2>Lista de Desarrolladores</h2>
  <button mat-menu-item routerLink="/desarrolladores/registrar">
    <mat-icon>add</mat-icon>
    <span>Registrar Desarrollador</span>
  </button>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.idDesarrollador }}</td>
      </ng-container>
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Id Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.idUser }}</td>
      </ng-container>
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Habilidades</th>
        <td mat-cell *matCellDef="let element">{{ element.habilidades }}</td>
      </ng-container>
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Experiencia</th>
        <td mat-cell *matCellDef="let element">{{ element.experiencia }}</td>
      </ng-container>
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Portafolio</th>
        <td mat-cell *matCellDef="let element">{{ element.portafolio }}</td>
      </ng-container>
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="['/desarrolladores/editar', element.idDesarrollador]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteDesarrolladores(element.idDesarrollador)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>